<% layout("/layouts/boilerplates") %>
<%= success %>
    <h2 >LISTINGS</h2>
    <div class="container-sm">
</div><br><br>
 <form action="listings/allListings/selective" method="post">
  <input type="text"  class="form-control" id="search" placeholder="enter the city name" onchange="myfunction()">
 </form>
 <br><br>
    <form action="/listings/new" method="get">
        <button>Create New listing</button>
    </form>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
<% for(let listing of allListings){ %>

<div class="card listing-card" style="width:18rem;">

    <div class="image-container">

        <img src="<%= listing.image.url %>"
             class="card-img-top"
             alt="listing_image"
             height="200px">
    </div>

    <a href="/listings/allListings/<%= listing._id %>" class="listing-linking">

        <div class="card-body">
            <p class="card-text">
                <b><%= listing.title %></b><br>
                &#8377;<%= listing.price.toLocaleString("en-IN") %>
            </p>
        </div>

    </a>

</div>
<% } %>
   
